<!-- <h2>Welcome {{currentUser.local.email}}</h2> -->
<div class="newProfileView">
<form class="newProfile">
  <input name='username' placeholder="profile username">
  <button class='createProfile'>Create Profile</button>
</form>
</div>

<script>
  $(document).ready(function(){
    console.log("works")
  })
</script>
