<h2>Welcome {{currentUser.github.username}}</h2>
<div class="newProfileView">
<form class="newProfile">
  <input name='username' placeholder="profile username">
  <button class='createProfile'>Create Profile</button>
</form>
</div>
