
<div class="newProfileView">
  <form class="newProfile">
    <input name='username' placeholder="GitHub Username">
    <button class='createProfile'>Add Profile</button>
  </form>
  <div class="unfollows"></div>
</div>
<div class="profiles"></div>
<div class="tooltip"></div>
<script src="js/script.js" type="text/javascript"></script>
