.tooltip{
  position:absolute;
  /*height:auto;
  width:auto;*/
  height:100px;
  width:100px;
  padding:5px;
  /*top:0;left:0;*/
  border-radius: 5px;
  border:1px solid blue;
  color:black;
  display:block;
}
svg{
  display:block;
}
