.tooltip{
  height:auto;
  width:auto;
  padding:5px;
  border-radius: 5px;
  border:1px solid red;
  background-color:white;
}

body{
  text-align: center;
  font: Helvetica;
  height:100%;
}
svg{
  display: block;
  margin: auto;
}

.profile{
  margin: 1em;
  border-radius: 5%;
}
.stamp{
  border: 1px dashed grey;
  margin: 1em auto;
  border-radius: 5%;
  width:600px;
}

.randomCommit{
  margin: 1em;
}

.commitBox{
  width:50%
}
rect{
  stroke:white;
  stroke-width:0.5px;
}
.xaxis path, .xaxis line, .yaxis path, .yaxis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
label{
  margin-left:5px;
}
