*{
  box-sizing: border-box;
}
.cf:after{
  display:table;
  content:'';
  clear:both;
}
.tooltip{
  height:auto;
  width:auto;
  padding:5px;
  border-radius: 5px;
  border:1px solid red;
  background-color:white;
}
body{
  text-align: center;
  font: Helvetica;
  height:auto;
  min-width: 1100px;
}
.login-contents{
  margin-top:200px;
}
.login-contents a,header a{
  font-size:2em;
  color:#AE5D5E;
  font-weight:bold;
}
.login-contents img{
  width:500px;
}
header{
  height:100px;
}
header img{
  height:100%;
  float:left;
  margin:1em;
}
header a{
  float:right;
  margin:1em;
}
header h2{
  float:left;
  margin:1em;
  font-size: 3em;
  color:#AE5D5E;
  font-weight:bold;
}
svg{
  display: block;
  margin: auto;
}
main{
  min-width:1100px;
}
.profiles{
  float:left;
  width:800px;
}
.newProfileView{
  float:right;
  width:250px;
  padding:10px;
  border-radius: 10px;
  border:2px dashed gray;
}
.newProfile{
  float:left;
  margin-bottom:1em;
}
.unfollowed{
  display:inline-block;
  float:left;
  clear:both;
}
.unfollowed button{
  float:left;
  margin-right:1em;
}
.profileIMG{
  width:128px;
  margin: 10px;
  border:2px solid gray;
  border-radius:5px;
  float:left;
}
.profile{
  margin: 1em auto;
  border-radius: 5%;
  width:600px;
}
.stamp{
  border: 1px dashed grey;
  border-radius: 5%;
  width:100%;
}
.randomCommit{
  margin: 1em;
}
.commitBox{
  width:50%
}
rect{
  stroke:white;
  stroke-width:0.5px;
}
.xaxis path, .xaxis line, .yaxis path, .yaxis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
label{
  margin-left:5px;
}
